body {
  margin: 0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #00B7FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.titleStyle {
  font-size: 1.5em;
  font-weight: bold;
}

.linkStyle {
  font-size: 1.5em;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #ddd;
}

.row:nth-child(even) {
  background-color: #f2f2f2;
}

.header {
  font-weight: bold;
}

.cell {
  width: 24%;
  text-align: left;
}

.list-item {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.list-item div {
  margin-bottom: 0.5em;
}

.list-item div:last-child {
  margin-bottom: 0;
}
